<div class="statblock">
    <div class="stat">
        <h3>- ARM -</h3>
        <p class="stat-value">{{ char.spec('animalia')['stats']['arm'] }}</p>
    </div>
    <div class="stat">
        <h3>- LEG -</h3>
        <p class="stat-value">{{ char.spec('animalia')['stats']['leg'] }}</p>
    </div>
    <div class="stat">
        <h3>- HEAD -</h3>
        <p class="stat-value">{{ char.spec('animalia')['stats']['head'] }}</p>
    </div>
    <div class="stat">
        <h3>- SOUL -</h3>
        <p class="stat-value">{{ char.spec('animalia')['stats']['soul'] }}</p>
    </div>
</div>
